body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    background: pink;
    padding: 3rem;
    width: 100%;
    text-align: center;
  }

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

input[type="file"] {
    padding: 10px;
    border: 1px solid grey;
    margin: 1rem;
}

button {
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}

button:hover {
    background-color: grey;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px;
}

ul li a {
    color: blue;
}

ul li a:hover {
    color: blue;
}
